*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.image-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26.67px;
    margin-left: -15px;

    max-width: 316.67px;
    width: 100%;
}

.header-image{
    margin-right: 20px;
}

.header-text{
    margin-left: 20px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 33.33px;

    letter-spacing: -0.03em;
    color: #FFFFFF;
}